<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        
        <p class="components-reconnect-first-attempt-visible">
            Rejoining the server...
        </p>
        
        <p class="components-reconnect-repeated-attempt-visible">
            Rejoin failed. Retrying in <span id="components-seconds-to-next-attempt"></span>s...
        </p>
        
        <div class="components-reconnect-failed-visible">
            <p>Connection lost. Please try to rejoin or reload.</p>
            <button id="components-reconnect-button">Retry Connection</button>
        </div>
        
        <div class="components-pause-visible">
            <p>Session paused by the server.</p>
            <button id="components-resume-button">Resume Session</button>
        </div>
        
        <p class="components-resume-failed-visible">
            Failed to resume. Please reload the page.
        </p>
    </div>
</dialog>
